.pages {
  .primaryBtn {
    background-color: #6190E8;
    border: 1px solid #C5D9E8;
    color: white;
  }
  .secondaryBtn {
    color: #6190E8;
    border: 1PX solid #6190E8;
    background-color: #FFF;
  }
}